@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td,
th {
  padding-bottom: 12px;
  padding-right: 12px;
}

#form > div {
  padding: 2px;
}

button, input {
  border: solid 1px #ccc;
  padding: 3px;
  background-color: #ccc;
}

#form {
  margin: 20px;
}

#table {
  margin: 20px;
}
